@model JsonTable.Clients.DTO.StockListClientDto

@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript">
function timedRefresh(timeoutPeriod) {
    setTimeout(function() {
        location.reload(true);
    }, timeoutPeriod);
}
</script>

<button onclick="timedRefresh(0);" style="margin:50px;">Update</button>

<body onload="timedRefresh(15000);">
    <table class="table">
        <tr style="background-color:darkgray">
            <td>Название валюты</td>
            <td>Цена</td>
            <td>Количество</td>
        </tr>
        @foreach (var item in Model.Stock)
        {
        <tr style="height:50px">
            <td>@item.Name</td>
            <td>@item.Volume</td>
            <td>@item.Price.Amount</td>
        </tr>
        }
    </table>
</body>